/*font-family: 'Poiret One', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Julius Sans One', sans-serif;*/

  body{
    background: #5999B3;
  }
  .container{
    background: #98E2FF; /* BASE COLOR HERE */
    box-shadow: 0 4px 80px 1rem rgba(150, 150, 150, 0.667), 0 6px 20px 0 #5999B3 ;
  }

  /*Game title text*/
  .title{
      font-family: 'Julius Sans One', sans-serif;
      font-size: 4rem;
      font-weight: bold;
      color:rgba(198, 106, 255, 0.725);
  }

  .row.site-title{
    padding: 20px 0;
    background: #98E2FF;
  }

  .square{
    background: grey;
    border: 1pt solid brown;
    height: 5rem;
    width: 5rem;
  }

  a {
    font-size: 3rem;
  }