
/* ------------------------------ text styling ------------------------------ */
h1,h2,h3,h4,h5,p{
  font-family:'Unica One', Arial, Helvetica, sans-serif, cursive;
}

h1{
  background:  #B3463E;
  color: white;
  padding: 0 1rem;
  border-radius: 100px;
}

h2{
  font-size: 2rem;
  font-weight: bold;
}

.copy{
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------- container background -------------------------- */
.container-fluid{
  background: #A6FFCB;
}


  /*Game title text*/
 /* .title{
      font-size: 4rem;
      font-weight: bold;
      color: #B3463E;
  }*/

  .row.site-title{
    padding: 20px 0;

    margin-bottom: 20px;
  }

/* ---------------------- MEDIA QUERY BreakPoints FOR GAME BOARD --------------------- */

/* -------------------------------------------------------------------------- */
/*                Extra small devices (phones, 600px and down)                */
/* -------------------------------------------------------------------------- */

  @media only screen and (max-width: 600px) {

/* ---------------------------- game board sizing --------------------------- */

    .square{
      background: grey;
      border: 1pt solid brown;
      width: 20vw;
      height: 20vw;
      padding: 0;
    }

/* ------------------------------- title text ------------------------------- */
  .title{
    font-size: 3rem;
  }

/* ------------------------------- player text ------------------------------ */
  h2{
    font-size: 1.5rem;
  }

/* ------------------------------- score text ------------------------------- */
  h4{
    font-size: 1rem;
  }

/* --------------------------- GAME BOARD MARGINS --------------------------- */

    .row.site-title{
      margin-bottom: 2vh;
    }

    .row.player {
      margin-top: 4vh;
    }

/* ---------------------------- score box styling --------------------------- */
    .player-box{
      background: #FF948C;
    }
    .score-counter{
      padding-top: 15px;
    }
  }

/* -------------------------------------------------------------------------- */
/*       Small devices (portrait tablets and large phones, 600px and up)      */
/* -------------------------------------------------------------------------- */

  @media only screen and (min-width: 600px) {
    .square{
      background: grey;
      border: 1pt solid brown;
      width: 20vw;
      height: 20vw;
      padding: 0;
    }

    .row.site-title{
      margin-bottom: 3vh;
    }

    .row.player {
      margin-top: 3vh;
    }
  }

/* -------------------------------------------------------------------------- */
/*              Medium devices (landscape tablets, 768px and up)              */
/* -------------------------------------------------------------------------- */

  @media only screen and (min-width: 768px) {
    .square{
      background: grey;
      border: 1pt solid brown;
      width: 15vw;
      height: 15vw;
      padding: 0;
    }

    .row.site-title{
      margin-bottom: 4vh;
    }

    .row.player {
      margin-top: 4vh;
    }

    .score-counter{
      padding: 1rem 1rem;
      background: #8DFFBC;
    }

    
  }

/* -------------------------------------------------------------------------- */
/*               Large devices (laptops/desktops, 992px and up)               */
/* -------------------------------------------------------------------------- */

  @media only screen and (min-width: 992px) {
    .square{
      background: grey;
      border: 1pt solid brown;
      width: 15vw;
      height: 15vw;
      padding: 0;
    }

    .row.site-title{
      margin-bottom: 5vh;
    }

    .row.player {
      margin-top: 5vh;
    }
  }

/* -------------------------------------------------------------------------- */
/*       Extra large devices (large laptops and desktops, 1200px and up)      */
/* -------------------------------------------------------------------------- */

  @media only screen and (min-width: 1200px) {
    .square{
      background: grey;
      border: 1pt solid brown;
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px;
      padding: 0;
    }

    .row.site-title{
      margin-bottom: 5vh;
    }
  }
  
/* -------------------------------------------------------------------------- */
/*                              END MEDIA QUERIES                             */
/* -------------------------------------------------------------------------- */

  .score-box{
    background: #FF948C;
    padding: 10px;
    box-shadow: 0px 5px 15px 5px #B3463E;
  }

  .cat-score-box{
    background: #FF948C;
    padding: 10px;
    box-shadow: 0px 5px 15px 5px #B3463E;
  }

  a {
    font-size: 3rem;
  }

  .masthead{
    padding: 2rem 0;
  }

  #opponent{
    overflow: hidden;
  }

/* ------------------------------ STYLE FOOTER ------------------------------ */

html{
  min-height: 100%;
  position: relative;
}
.container-fluid{
  margin-bottom: 140px;
}

footer {
  bottom: 0;
  height: 150px;
  position: absolute;
  width: 100%;
}

ul {
  padding: 0;
}

li{
  padding: 0px 3px;
}

hr {
  border: .5px solid black;
}



